[module_presentation___bg] {
	position: absolute;
	margin: 0;
	padding: 0;
	background: #003;
	border: 0;
	box-sizing: border-box;
	opacity: 0.5;
	z-index: 10000;
}


[module_presentation___description] {
	position: absolute;
	background: #000;
	color: #fff;
	border: 2px solid #777;
	border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
	z-index: 10000;
}


[module_presentation___control] {
	position: fixed;
	right: 10px;
	top: 20px;
	background: none;
	border: 0;
	border-radius: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	z-index: 10000;
}


[module_presentation___control] > a {
	color: #fff;
	background: #050;
	border: 2px solid #777;
	border-radius: 5px;
	margin: 3px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	z-index: 10000;
}


[module_presentation___control] > a:last-of-type {
	background: #500;
}
